.container {
    padding-top: 20px;
}

.user {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 4px 0 4px 0;
}

.user-icon {
    height: 50px;
    border-radius: 50%;
}

.user-icon1 {
    height: 36px;
    border-radius: 50%;
}

.user a,
.foot li a {
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    background: none;
    color: #201ceb;
}

.sgg button {
    color: black;
}

.foot {
    position: absolute;
    padding-top: 100px;
}

.foot li {
    display: inline-flex;
    padding-right: 5px;
}
