.carousel {
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    column-gap: 15px;
    align-items: center;
}

.carousel-item {
}

.user-icon {
    width: 50px;
}
.user-post-avt {
    width: 20px;
}
